.container {
    display: flex;
    justify-content: center; /* コンテンツを中央に配置 */
    padding: 20px;
    flex-direction: column; /* 項目を垂直方向に並べる */
    align-items: center; /* 横方向の中心揃え */
}

.left-column, .right-column {
    width: 100%; /* 両カラムを100%の幅に設定 */
    padding: 20px;
    text-align: center; /* テキストを中央揃えに */
}

ul {
    list-style-type: none; /* リストマーカーを非表示に */
    padding: 0;
    width: 100%; /* ul全体の幅を100%に設定 */
    align-items: center;
}

li {
    margin-bottom: 15px; /* 各リストアイテムの間隔 */
    border-bottom: 1px solid #ccc; /* 下線を追加 */
    padding-bottom: 10px;
    text-align: center; /* リストアイテムを中央揃えに */
}

article h3 {
    color: #0056b3; /* タイトルの色 */
    text-align: center; /* 見出しを中央揃えに */
}

article h3 a {
    text-decoration: none; /* 下線を消す */
    align-items: center;
}

article h3 a:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
    align-items: center;
}

article p {
    font-size: 0.9em; /* フォントサイズを小さく */
    color: #666; /* フォントの色 */
    text-align: center; /* 段落を中央揃えに */
}