body {
    font-family: 'Helvetica', sans-serif, 'Roboto', 'Arial';
}

.header-info, .text-overlay, .container, .left-column, .right-column, article {
    font-family: inherit; /* 親要素のフォント設定を継承 */
}

.header-info {
    position: relative; /* 相対位置 */
    background-image: url('/images/paper_texture.jpg'); /* 背景画像を設定 */
    background-size: cover; /* 背景画像をカバーとして設定 */
    background-position: center; /* 背景画像を中央に設定 */
    color: #333; /* テキストの色を暗めに設定 */
    text-align: center;
    padding: 50px 20px; /* パディングを調整 */
    z-index: 1; /* 背景としての z-index */
}

.text-overlay {
    position: relative;
    display: inline-block; /* テキストの幅に合わせる */
    padding: 20px;
    background: rgba(255, 255, 255, 0.7); /* 白色で透明度70% */
    color: #333; /* テキストの色を設定 */
    z-index: 2; /* オーバーレイとしての z-index */
}

.text-overlay h3 {
    font-size: 1.0em /* フォントサイズを大きく */
}

.text-overlay p {
    font-size: 0.8em /* フォントサイズを大きく */
}

.header-info h1, .header-info h2, .header-info h3, .header-info p {
    margin: 0; /* マージンをゼロに */
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column {
    text-align: center;
    width: 15%;
    padding: 20px;
    font-size: 0.9em;
}

.right-column {
    width: 85%;
    padding: 20px;
    line-height: 1;
    text-align: left;
}

/* リストアイテムの間にマージンを追加 */
.right-column ul li {
    margin-bottom: 100px; /* 下に20pxのマージンを追加 */
}

/* 記事全体のマージンを追加 */
.right-column article {
    margin-bottom: 20px; /* 記事全体の下に20pxのマージンを追加 */
}

article {
    text-align: left; /* テキストを中央揃えに設定 */
}

article h3 {
    line-height: 1.5;
}

article span a, article span {
    line-height: 1.0;
    margin-top: -70%; /* または vw, % などに変更可能 */
    padding-top: 0;
}

/* リンクの色を黒に固定 */
article h3 a, article span a {
    color: #000; /* リンクの色を黒に設定 */
}

/* ホバー時のスタイル */
article h3 a:hover, article span a:hover  {
    color: #333; /* ホバー時の色を少し濃い黒に設定 */
    text-decoration: underline; /* ホバー時に下線を表示 */
}

/* 訪問済みリンクの色を黒に固定 */
article h3 a:visited, article span a:visited {
    color: #000; /* 訪問済みリンクの色も黒に設定 */
}

